.trip {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 600px;
    margin-bottom: 30px;
}

.trip img{
    width: 300px;
    margin-left: 75px;
    margin-top: 20px;
}